In [23]:
import pandas as pd 
import numpy as np

In [24]:
# read the data 
data = pd.read_csv("SummerStudentAdmissions2.csv")
data.head()

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100,1.0,0
1,Admit,Florida,3.80,1.4,969.0,97,1.0,4
2,Banana,California,3.80,2.3,970.0,98,0.0,5
3,Admit,Colorado,3.60,0.9,969.0,97,0.0,2
4,Admit,Colorado,3.92,1.2,969.0,95,-1.0,3

## clean the data 

* Decision: only remains "Admit", "Waitlist", "Decline"

* State: ... 

* GPA: default to 4.0 scale 

* WorkExp: remove anomalies 

* TestScore: ...

* WritingScore: ...

* Gender: remove anomalies 

* VolunteerLevel: ...

In [25]:
data = data.loc[(data['Decision'] == 'Admit') | (data['Decision'] == 'Waitlist') | (data['Decision'] == 'Decline')]

In [26]:
data["GPA"] = np.where(data["GPA"]>4.0, np.nan, data["GPA"])

In [27]:
data["WorkExp"] = np.where(data["WorkExp"]>10, np.nan, data["WorkExp"])

In [28]:
data = data.loc[(data['Gender'] == 1.0) | (data['Gender'] == 0.0)]

In [29]:
data = data.dropna()

In [30]:
data

,Decision,State,GPA,WorkExp,TestScore,WritingScore,Gender,VolunteerLevel
0,Admit,California,3.90,6.7,962.0,100,1.0,0
1,Admit,Florida,3.80,1.4,969.0,97,1.0,4
3,Admit,Colorado,3.60,0.9,969.0,97,0.0,2
6,Admit,California,3.88,1.5,967.0,95,1.0,5
7,Admit,California,3.70,1.2,969.0,94,1.0,2
...,...,...,...,...,...,...,...,...
83,Waitlist,Vermont,3.53,3.3,862.0,85,1.0,1
84,Waitlist,Florida,3.52,0.7,868.0,81,0.0,4
85,Waitlist,Florida,3.51,3.4,865.0,88,1.0,3
86,Waitlist,California,3.47,2.2,867.0,77,1.0,5
87,Waitlist,Florida,3.46,1.9,869.0,89,1.0,0

In [31]:
data.to_csv("cleaned.csv")